body{
    margin: 0;
    font-family: Ubuntu;
    display: flex;
}
aside{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100vh;
   padding: 48px;
    background-color: darkcyan;
}
aside a{
    margin: 8px 0px;
    background-color: #ffffff;
    text-decoration: none;
}
.row{
    display: flex;
    flex-wrap: wrap;
    padding: 4px;
}
.col{
    display: flex;
    flex-direction: column;
    padding: 4px;
    flex: 20%;
}
.col img{
    width: 100%;
    flex-grow: 1;
    padding: 4px;
}
