body{
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 50px auto 100px;
}
header{
    border-bottom: 1px solid black;
    display: grid;
    grid-template-columns: 64px auto;
    grid-template-rows: auto;
    align-items: center;
}
input{
    width: 90vw;
    padding: 0px 16px;
}
footer{
    border-top: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
main{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
}
.container{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    padding: 32px;
}
div img{
    width: 240px;
    height: 240px;
}
div p{
    padding: 0px 16px;
}
div{
    padding: 0px 16px;
}
.logo img{
    width: 32px;
    height: 32px;
}